body {
  font-family: serif;
  font-size:2em;
}

/*Navbar Styling*/

.navbar {
  background-color: #000000;
  font-size: 18pt;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-brand {
  font-size: 22pt;
}

.navbar a {
  color: #A9A9A9;
}

.navbar a:hover {
  text-decoration: none;
  color: #FFFFFF;
}

.page-header {
  text-align: center;
  font-size: 40pt;
}

/*Index Styling*/

.index h2, .admin h2 {
  text-align: center;
  font-size: 25pt;
  margin-bottom: 50px;
  margin-top: 50px;
}

.post-tile {
  margin-top: 25px;
  margin-bottom: 25px;
}

.post-tile h2 {
  font-size: 20pt;
}

.post-tile h3 {
  font-size: 18pt;
  text-align: center;
}

img {
  width: 100%;
}

/*Contact Styling*/

.contact p {
  font-size: 18pt;
  text-align: center;
  margin-top: 50px;
}

/*Admin Styling*/

.btn-primary, .btn-danger {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20pt;
  margin-top: 15px;
}

/*Author Styling*/

.new-author {
  text-align: center;
}

.new-author h1 {
  font-size: 18pt;
}

.new-author label {
  font-size: 15pt;
}

.new-author .btn-success {
  font-size: 20pt;
  margin-top: 35px;
}

.detail h2, .stories h2 {
  text-align: center;
  font-size: 25pt;
  margin-top: 50px;
}

.detail p {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.stories {
  margin-top: 50px;
}

.end {
  margin-bottom: 200px;
}
