<nav class="navbar navbar-inverse">
  <div class="container">
    {{#link-to "index"}}<a class="navbar-brand">Cats & Dogs</a>{{/link-to}}
    <ul class="nav navbar-nav">
      <li class="nav-item">
          {{#link-to "index"}}<a class="nav-link">Home <span class="sr-only">(current)</span></a>{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "about"}}<a class="nav-link">About</a>{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "contact"}}<a class="nav-link">Contact</a>{{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to "admin"}}<a class="nav-link">Admin</a>{{/link-to}}
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  {{outlet}}
</div>
