<h1 class="page-header">Contact Us</h1>
<div class="contact">
  <p>
    Contact us today if you want to contribute to our blog.
  </p>
  <p>
    Cats&Dogs Headquarters<br>
    1212 Test Address Avenue<br>
    TestyMcTestington, OR 97233
  </p>
  <p>(503) 555-1212</p>
  <p>contactus@catsdogs.com</p>
</div>
