<h1 class="page-header">Welcome to the Cats & Dogs Blog</h1>
<div class="row index">
  <div class="col-sm-9">
    <h2>Stories</h2>
    <ul>
      {{#each model.posts as |post|}}
        {{post-tile post=post}}
      {{/each}}
    </ul>
  </div>
  <div class="col-sm-3">
    <h2>Authors</h2>
    <ul>
      {{#each model.authors as |author|}}
        {{author-tile author=author}}
      {{/each}}
    </ul>
  </div>
</div>
